@{
    ViewBag.Title = Resource.Designation;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .colSrno
    {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }
    
    .colPosition
    {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }
    
    .colActive
    {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
    
    .colAction
    {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
</style>
<div ng-controller="DesignationCtrl" novalidate>
    <!-- start title section-->
    <div class="main-page-title title-icon relative l">
        <i class="ti-id-badge icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.Designation</h4>
        <!-- start button-->
        <div class="pull-right">
            @*<button type="button" class="btn btn-success btn-xs waves-effect" ng-click="createReport()">
                <i class="fa fa-file-excel-o m-r-5"></i>@Resource.ExportToExcel
            </button>*@
        </div>
        <!-- end button-->
    </div>
    <!-- end title section-->
    <!-- start body section-->
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <!-- start designation form -->
                <form name="frmDesignations" ng-submit="SaveDesignationDetails(designationDetailScope,frmDesignations)"
                novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                @Resource.Designation <span class="required-field">*</span>
                            </label>
                            <input type="text" class="form-control" id="txtDesignation" ng-focus="true" name="txtDesignation" ng-focus="true" ng-model="designationDetailScope.DesignationName" required tabindex="1" placeholder="@Resource.Designation" maxlength="250">
                            <div class="c">
                            </div>
                            <div class="label label-danger" data-ng-show="frmDesignations.txtDesignation.$dirty && frmDesignations.txtDesignation.$invalid">
                                <span data-ng-show="frmDesignations.txtDesignation.$error.required">@Resource.DesignationRequired</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--IsActive -->
                        <div class="form-group">
                            <label>
                            </label>
                            <div class="form-control-static">
                                <div class="checkbox checkbox-info">
                                    <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="designationDetailScope.IsActive"
                                        tabindex="2" />
                                    <label for="chkDesignationActive">
                                        @Resource.IsActive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--Remarks-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    @Resource.Remarks
                                </label>
                                <input type="text" class="form-control" placeholder="Add Remarks" ng-model="designationDetailScope.Remarks"/> 
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5"
                                    ng-disabled="frmDesignations.txtDesignation.$invalid" tabindex="3">
                                {{designationDetailScope.DesignationId > 0 ? '@Resource.Update' : '@Resource.Save'}}
                            </button>
                            <button type="button" ng-click="ClearFormData(frmDesignations)" class="btn btn-info waves-effect w-md waves-light m-b-5"
                                tabindex="4">
                                @Resource.Clear
                            </button>
                        </div>
                    </div>
                </div>
                </form>
                <!-- end designation form -->
                <hr />
                <!-- start designation details list -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="table-title">
                                    @Resource.Designation @Resource.Details
                                </label>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format("{0} {1} {2}", Resource.Search, Resource.Designation, Resource.Details)" />
                                    <a href class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                        <i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="427">
                                <table ng-table="tableParams" id="datatable" class="table table-striped table-bordered table-hover">
                                    <tr ng-repeat="h in $data">
                                        <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                            {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                        </td>
                                        <td data-title="'@Resource.Designation'" sortable="'DesignationName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{h.DesignationName}}">
                                            {{h.DesignationName}}
                                        </td>
                                        <td data-title="'@Resource.Remarks'"  header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'" angular-tooltip data-side="bottom" data-content="{{h.Remarks}}">
                                            {{h.Remarks}}
                                        </td>
                                        <td data-title="'@Resource.Active'" sortable="'IsActive'" header-class="'colActive'" ng-class="'colActive text-center'">
                                            <input type="checkbox" class="js-switch" ui-switch options="switchOptions" ng-model="h.IsActive"
                                                   ng-disabled="true" />
                                        </td>
                                        <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                            <a class="btn btn-icon btn-white btn-xs waves-effect waves-light m-r-5 btn-edit" title="Edit"
                                               ng-click="EditDesignationDetails(h.DesignationId)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>                                        
                                    </tr>
                                    <tr ng-if="$data.length == 0">
                                        <td colspan="4" class="no-record">
                                            @Resource.NoRecordAvailable
                                            <span ng-if="search!=''">
                                                <br />@Resource.YourSearch - '{{search}}' @Resource.DidNotMatchAnyRecord
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end designation details list -->
            </div>
        </div>
    </div>
    <!-- end body section-->
</div>
@section scripts {
    @Scripts.Render("~/bundles/Configuration/Designation")
}
