@{
    ViewBag.Title = @Resource.CompanyRegister;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
</style>

<div ng-controller="CompanyCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="ti-id-badge icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.CompanyRegister</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row ">
            <div class="col-md-12">
                <!-- start designation form -->
                <form name="frmRegister" ng-init="getPositionDetails()" ng-submit="SaveCompanyDetails(companyDetailScope)"
                      novalidate>
                    <div class="row mb-3">
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <label>
                                    @Resource.CompanyName<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Company Name" name="CompanyName" ng-model="companyDetailScope.CompanyName" required />
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.CompanyName.$dirty && frmRegister.CompanyName.$invalid">
                                    <span data-ng-show="frmRegister.CompanyName.$error.required">@Resource.CompanyRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <label>
                                    @Resource.Venue<span class="required-field">*</span>
                                </label>
                                <textarea rows="5" class="form-control" placeholder="Enter Venue" name="Venue" ng-model="companyDetailScope.Venue" required></textarea>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.Venue.$dirty && frmRegister.Venue.$invalid">
                                    <span data-ng-show="frmRegister.Venue.$error.required">@Resource.VenueRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <label>
                                    @Resource.ContactPersonName<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Contact Person Name" name="ContactPersonName" ng-model="companyDetailScope.ContactPersonName" required/>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.ContactPersonName.$dirty && frmRegister.ContactPersonName.$invalid">
                                    <span data-ng-show="frmRegister.ContactPersonName.$error.required">@Resource.ContactPersonNameRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-3 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <label>
                                    @Resource.ContactPersonPhone<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Contact Person Phone" name="ContactPersonPhone" ng-model="companyDetailScope.ContactPersonPhone" required/>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.ContactPersonPhone.$dirty && frmRegister.ContactPersonPhone.$invalid">
                                    <span data-ng-show="frmRegister.ContactPersonPhone.$error.required">@Resource.ContactPersonPhoneRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-3 mt-md-0 mt-sm-0">
                            <div class="form-group">
                                <label>
                                    @Resource.ContactPersonPosition <span class="required-field">*</span>
                                </label>
                                <select class="form-select" name="ContactPersonPosition" ng-model="companyDetailScope.ContactPersonPositionId" required>
                                    <option value="" selected disabled>Select Position</option>
                                    <option ng-repeat="h in positionDetails" value="{{h.Id}}">{{h.PositionName}}</option>
                                </select>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.ContactPersonPosition.$dirty && frmRegister.ContactPersonPosition.$invalid">
                                    <span data-ng-show="frmRegister.ContactPersonPosition.$error.required">@Resource.ContactPersonPositionRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-3 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <div class="form-control-static">
                                    <label>

                                    </label>
                                    <div class="checkbox checkbox-info p-0">
                                        <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="companyDetailScope.IsActive"
                                               tabindex="2" />
                                        <label for="chkIsActive">
                                            @Resource.IsActive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-10">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5" >
                                    {{companyDetailScope.Id > 0 ? '@Resource.Update' : '@Resource.Save'}}
                                </button>
                                <button type="button" ng-click="ClearFormData(frmRegister)" class="btn btn-danger waves-effect w-md waves-light m-b-5"
                                        tabindex="4">
                                    @Resource.Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr class="section-divider" />
                <!-- end designation form -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="table-title my-3">
                                    @Resource.Company @Resource.Details
                                </label>
                            </div>
                            <div class="col-md-5 offset-4">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}", Resource.Search, Resource.Company, Resource.Details)" />
                                    <a class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="500">
                                    <table ng-table="tableParams" id="datatable" @*ng-init="getAllInterviewers()"*@ class="table table-bordered table-hover">
                                        <tbody>
                                            <tr ng-repeat="h in company">
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                    {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.CompanyName'" sortable="'CompanyName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.CompanyName}}
                                                </td>
                                                <td data-title="'@Resource.Venue'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Venue}}
                                                </td>
                                                <td data-title="'@Resource.ContactPersonName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.ContactPersonName}}
                                                </td>
                                                <td data-title="'@Resource.ContactPersonPhone'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.ContactPersonPhone}}
                                                </td>
                                                <td data-title="'@Resource.ContactPersonPosition'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.ContactPersonPositionName}}
                                                </td>
                                                <td data-title="'@Resource.Active'" header-class="'colActive'" ng-class="'colActive text-center'">
                                                    <input type="checkbox" class="js-switch" ui-switch options="switchOptions" ng-model="h.IsActive"
                                                           ng-disabled="true" />
                                                </td>
                                                <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                                    <a class="btn btn-icon cursor-pointer btn-white btn-xs waves-effect waves-light m-r-5 btn-edit" title="Edit"
                                                       ng-click="EditCompanyDetails(h.Id)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Registration details list -->
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/Company/Company")
}
