@{
    ViewBag.Title = @Resource.ScheduleManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ScheduleCtrl" ng-init="GetData()" novalidate>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantName :
                                    </p>
                                </td>
                                <td><p>{{applicants.FirstName}} {{applicants.MiddleName}} {{applicants.LastName}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantEmail :
                                    </p>
                                </td>
                                <td><p>{{applicants.Email}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantAddress :
                                    </p>
                                </td>
                                <td><p>{{applicants.Address}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantDOB :
                                    </p>
                                </td>
                                <td><p>{{applicants.DateOfBirth | date}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantPhone :
                                    </p>
                                </td>
                                <td><p>{{applicants.Phone}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.StatusName :
                                    </p>
                                </td>
                                <td><p>{{applicants.StatusName}}</p></td>
                            </tr>
                            <tr ng-show="applicants.StatusId == 8">
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.OtherReason :
                                    </p>
                                </td>
                                <td><p>{{applicants.Reason}}</p></td>
                            </tr>
                        </table>
                    </div>
                    
                </div>
                <div class="card-foot mt-3">
                    <button class="btn btn-primary me-sm-2"
                            ng-repeat="h in buttons" ng-if="h.NextStatusId != 4 && h.NextStatusId != 8 && h.NextStatusId != 5" ng-click="updateStatus(h.NextStatusId,applicants.ApplicantId)"
                            ng-class="{'btn-pass' : h.ButtonId == 5,
                                       'btn-shortlist' : h.ButtonId == 1,
                                       'btn-not-match' : h.ButtonId == 2,
                                       'btn-reject' : h.ButtonId == 6}">
                        {{h.ButtonName}}
                    </button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-call-schedule me-sm-2 " ng-repeat="h in buttons" ng-if="h.NextStatusId == 4"
                            @*ng-click="updateStatus(h.NextStatusId,applicants.ApplicantId)"*@>
                        {{h.ButtonName}}
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Schedule Interview</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmSchedule" 
                                              novalidate>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.ScheduleDateTime <span class="required-field">*</span>
                                                    </label>
                                                    <input type="datetime-local" class="form-control datepicker" ng-focus="true" name="ScheduleDateTime" ng-model="scheduleDetailScope.ScheduleDateTime" required>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleDateTime.$dirty && frmSchedule.ScheduleDateTime.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleDateTime.$error.required">@Resource.ScheduleDateRequired</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.Interviewer <span class="required-field">*</span> <br />
                                                    </label>
                                                    <select class="form-control" name="Interviewer" id="Interviewer" ng-init="getAllInterviewers()" ng-model="scheduleDetailScope.InterviewerId">
                                                        <option value="" disabled selected>Select Interviewer</option>
                                                        <option ng-repeat="op in interviewers" value="{{op.InterviewerId}}">{{op.InterviewerName}}</option>
                                                    </select>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleDateTime.$dirty && frmSchedule.ScheduleDateTime.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleDateTime.$error.required">@Resource.ScheduleDateRequired</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.ScheduleLink <span class="required-field">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" ng-focus="true" name="ScheduleLink" ng-model="scheduleDetailScope.ScheduleLink" placeholder="Enter Interview Link" required>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleLink.$dirty && frmSchedule.ScheduleLink.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleLink.$error.required">@Resource.ScheduleLink</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.Description <span class="required-field">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" ng-focus="true" name="Description" ng-model="scheduleDetailScope.Description" placeholder="Enter Description" required>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.Description.$dirty && frmSchedule.Description.$invalid">
                                                        <span data-ng-show="frmSchedule.Description.$error.required">@Resource.Description</span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" ng-click = "SaveSchduleDetails(scheduleDetailScope,4,applicants.ApplicantId)" ng-disabled="frmSchedule.$invalid">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-other-reason me-sm-2 " ng-repeat="h in buttons" ng-if="h.NextStatusId == 8"
                            @*ng-click="updateStatus(h.NextStatusId,applicants.ApplicantId)"*@>
                        {{h.ButtonName}}
                    </button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Other Reasons</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmOtherReason" novalidate>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <select class="form-control" name="OtherReasons" id="OtherReasons" ng-init="getOtherReasons()" ng-model="ReasonId" required>
                                                <option value="" disabled selected>Select Reason</option>
                                                <option ng-repeat="op in reasons" value="{{op.ReasonId}}">{{op.Reason}}</option>
                                            </select>
                                            <div class="c">
                                            </div>
                                            <div class="label label-danger" data-ng-show="frmOtherReason.OtherReasons.$dirty && frmOtherReason.OtherReasons.$invalid">
                                                <span data-ng-show="frmOtherReason.OtherReasons.$error.required">@Resource.OtherReasonRequired</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-click="updateOtherReason(ReasonId,8,applicants.ApplicantId)" ng-disabled="frmOtherReason.OtherReasons.$invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3" class="btn btn-hold me-sm-2 " ng-repeat="h in buttons" ng-if="h.NextStatusId == 5"
                            @*ng-click="updateStatus(h.NextStatusId,applicants.ApplicantId)"*@>
                        {{h.ButtonName}}
                    </button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Other Reasons</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmHoldReason" novalidate>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <textarea name="Hold" id="Hold" class="form-control" rows="5" ng-model="scheduleDetailScope.Description" placeholder="Enter Reason For Hold...." required></textarea>
                                            <div class="c">
                                            </div>
                                            <div class="label label-danger" data-ng-show="frmHoldReason.Hold.$dirty && frmHoldReason.Hold.$invalid">
                                                <span data-ng-show="frmHoldReason.Hold.required">@Resource.OtherReasonRequired</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-disabled="frmHoldReason.$invalid" ng-click="holdReason(scheduleDetailScope,5,applicants.ApplicantId)">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    



    @section scripts {
        @Scripts.Render("~/bundles/ScheduleManagement/Schedule")
    }
