@{
    ViewBag.Title = @Resource.ScheduleManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ScheduleCtrl" ng-init="GetData()" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-user-plus icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.Schedule</h4>
        <div class="pull-right">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="~/Dashboard/Dashboard/">Home</a></li>
                    <li class="breadcrumb-item"><a href="~/ScheduleManagement/Schedule/">Schedule Management</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box mb-2 detail-card">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantName :
                                    </p>
                                </td>
                                <td><p>{{applicants.FirstName}} {{applicants.MiddleName}} {{applicants.LastName}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantEmail :
                                    </p>
                                </td>
                                <td><p>{{applicants.Email}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantAddress :
                                    </p>
                                </td>
                                <td><p>{{applicants.Address}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantDOB :
                                    </p>
                                </td>
                                <td><p>{{applicants.DateOfBirth | date}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.ApplicantPhone :
                                    </p>
                                </td>
                                <td><p>{{applicants.Phone}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.Position :
                                    </p>
                                </td>
                                <td><p>{{applicants.PositionName}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.Company :
                                    </p>
                                </td>
                                <td><p>{{applicants.CompanyName}}</p></td>
                            </tr>
                            <tr>
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.StatusName :
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <span ng-class="{'status-hold': applicants.StatusId == 5,
                                                        'status-registered': applicants.StatusId == 1,
                                                        'status-shortlist': applicants.StatusId == 2,
                                                        'status-call-schedule': applicants.StatusId == 4,
                                                        'status-other-reason': applicants.StatusId == 8,}">
                                            <span ng-show="applicants.StatusId == 4">L{{Level}}</span>
                                            <span ng-show="applicants.StatusId == 2 || applicants.StatusId == 8">L{{Level+1}}</span> {{applicants.StatusName}}
                                        </span>

                                    </p>
                                </td>
                            </tr>
                            <tr ng-show="(applicants.StatusId == 8)">
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.OtherReason :
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{applicants.Reason}}
                                    </p>
                                </td>
                            </tr>
                            <tr ng-show="applicants.Comment != null">
                                <td class="details-schedule-label">
                                    <p class="me-2 fw-bold">
                                        @Resource.Comments :
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        {{applicants.Comment}}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <hr />
                <div class="card-foot mt-3">
                    <button class="btn me-sm-2"
                            ng-repeat="h in buttons"
                            data-bs-toggle="modal"
                            ng-click="showModal(h.ButtonId)"
                            ng-class="{'btn-shortlist' : h.ButtonId == 1,
                                       'btn-not-match' : h.ButtonId == 2,
                                        ' btn-call-schedule' : h.ButtonId == 3,
                                        'btn-hold' : h.ButtonId == 4,
                                        'btn-pass' : h.ButtonId == 5,
                                        'btn-reject' : h.ButtonId == 6,
                                        'btn-other-reason' : h.ButtonId == 7}">
                        {{h.ButtonName}}
                    </button>


                    <div class="modal fade" id="Modal3" tabindex="-1" ng-init="getCompanyDetails()" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">@Resource.ScheduleInterview</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmSchedule"
                                      novalidate>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <label>
                                                        @Resource.ModeOfInterview <span class="required-field">*</span>
                                                    </label>
                                                    <select class="form-select" ng-model="scheduleDetailScope.Mode" required>
                                                        <option value="" selected disabled>Select Mode</option>
                                                        <option ng-repeat="(key,value) in Mode" value="{{key}}">{{value}}</option>
                                                    </select>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleDateTime.$dirty && frmSchedule.ScheduleDateTime.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleDateTime.$error.required">@Resource.ScheduleDateRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <label>
                                                        @Resource.ScheduleDateTime <span class="required-field">*</span>
                                                    </label>
                                                    <input type="datetime-local" min="{{minDate}}" class="form-control"
                                                           name="ScheduleDateTime" ng-model="scheduleDetailScope.ScheduleDateTime" required>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleDateTime.$dirty && frmSchedule.ScheduleDateTime.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleDateTime.$error.required">@Resource.ScheduleDateRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <label>
                                                        @Resource.NameOfInterviewer <span class="required-field">*</span> <br />
                                                    </label>
                                                    <select class="form-select" name="Interviewer" id="Interviewer" ng-init="getAllInterviewers()" ng-model="scheduleDetailScope.InterviewerId">
                                                        <option value="" disabled selected>Select Interviewer</option>
                                                        <option ng-repeat="op in interviewers" value="{{op.InterviewerId}}">{{op.InterviewerName}}</option>
                                                    </select>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleDateTime.$dirty && frmSchedule.ScheduleDateTime.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleDateTime.$error.required">@Resource.NameOfInterviewerRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-3">
                                                    <label>
                                                        @Resource.ScheduleLink <span class="required-field">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" ng-disabled="scheduleDetailScope.Mode == 0" name="ScheduleLink"
                                                           ng-model="scheduleDetailScope.ScheduleLink" placeholder="Enter Interview Link" ng-required="scheduleDetailScope.Mode == 1">
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.ScheduleLink.$dirty && frmSchedule.ScheduleLink.$invalid">
                                                        <span data-ng-show="frmSchedule.ScheduleLink.$error.required">@Resource.ScheduleLinkRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-info">
                                                        <input type="checkbox" id="UseCompanyAddress" ng-disabled="scheduleDetailScope.Mode != 0" name="UseCompanyAddress" ng-model="UseCompanyAddress" ng-change="useCompanyVenue(UseCompanyAddress)"
                                                               tabindex="2" />
                                                        <label for="UseCompanyAddress">
                                                            Use Company Address
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.Venue <span class="required-field">*</span>
                                                    </label>
                                                    <textarea class="form-control" name="Venue" ng-disabled="scheduleDetailScope.Mode != 0 || UseCompanyAddress" ng-model="scheduleDetailScope.Venue" placeholder="Enter Venue..."
                                                              rows="5" ng-required="scheduleDetailScope.Mode == 0"></textarea>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.Venue.$dirty && frmSchedule.Venue.$invalid">
                                                        <span data-ng-show="frmSchedule.Venue.$error.required">@Resource.VenueRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label>
                                                        @Resource.Description <span class="required-field">*</span>
                                                    </label>
                                                    <textarea class="form-control" name="Description" ng-model="scheduleDetailScope.Description" placeholder="Enter Description..."
                                                              rows="5" required></textarea>
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmSchedule.Description.$dirty && frmSchedule.Description.$invalid">
                                                        <span data-ng-show="frmSchedule.Description.$error.required">@Resource.DescriptionRequired</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Resource.Close</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveSchduleDetails(scheduleDetailScope,StatusId,applicants.ApplicantId,applicants.StatusId)"
                                                    ng-disabled="frmSchedule.$invalid">
                                                @Resource.Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Modal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Reason for Cancellation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmOtherReason" novalidate>
                                    <div class="modal-body">
                                        <div class="form-group mb-3">
                                            <select class="form-control" name="OtherReasons" id="OtherReasons" ng-init="getOtherReasons()" ng-model="Reason.ReasonId" ng-required="!Reason.Reason">
                                                <option value="" disabled selected>Select Reason</option>
                                                <option ng-repeat="op in reasons" value="{{op.ReasonId}}">{{op.Reason}}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" cols="5" placeholder="Enter Reason For Cancellation" name="ReasonForCancel" ng-model="Reason.Reason" ng-required="!Reason.ReasonId"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-click="updateOtherReason(Reason,StatusId,applicants.ApplicantId,applicants.StatusId)" ng-disabled="frmOtherReason.$invalid">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Reasons for hold</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmHoldReason" novalidate>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <textarea name="Hold" id="Hold" class="form-control" rows="5" ng-model="scheduleDetailScope.Description" placeholder="Enter Reason For Hold...." required></textarea>
                                            <div class="c">
                                            </div>
                                            <div class="label label-danger" data-ng-show="frmHoldReason.Hold.$dirty && frmHoldReason.Hold.$invalid">
                                                <span data-ng-show="frmHoldReason.Hold.required">@Resource.OtherReasonRequired</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-disabled="frmHoldReason.$invalid" ng-click="updateStatus(scheduleDetailScope,StatusId,applicants.ApplicantId,applicants.StatusId)">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Comment</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form name="frmHoldReason" novalidate>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <textarea name="Hold" id="Hold" class="form-control" rows="5" ng-model="scheduleDetailScope.Description" placeholder="Enter Comment...." required></textarea>
                                            <div class="c">
                                            </div>
                                            <div class="label label-danger" data-ng-show="frmHoldReason.Hold.$dirty && frmHoldReason.Hold.$invalid">
                                                <span data-ng-show="frmHoldReason.Hold.required">@Resource.CommentRequired</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" ng-disabled="frmHoldReason.$invalid" ng-click="updateStatus(scheduleDetailScope,StatusId,applicants.ApplicantId,applicants.StatusId)">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="back-to-list">
                        <a href="~/ScheduleManagement/Schedule/" class="btn btn-link mt-3"> <i class="fa fa-chevron-left"></i> Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    @Scripts.Render("~/bundles/ScheduleManagement/Schedule")
}
