@{
    ViewBag.Title = @Resource.ScheduleManagement;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .ViewLogo {
        width: 25px;
    }
</style>

<div ng-controller="ScheduleCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-calendar icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.ScheduleManagement</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @*<div class="col-md-12 mb-3">
                        <div class="row">
                            <div class="col-md-7">
                                <label class="table-title">
                                    @Resource.ScheduleManagement
                                </label>
                            </div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}", @Resource.Search,@Resource.Schedule,@Resource.Details)" />
                                    <a class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-12">
                        <div class="form-group ng-cloak">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="500">
                                    <table ng-table="tableParams" id="datatable" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr ng-repeat="h in applicants">
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                    {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantName'" sortable="'FirstName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.FirstName}} {{h.MiddleName}} {{h.LastName}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantEmail'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Email}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantPhone'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Phone}}
                                                </td>
                                                <td data-title="'@Resource.StatusName'" header-class="'colPosition'" ng-class="'olPosition breakword overflow-ellipsis cursor-pointer'">
                                                    <span ng-class="{'status-hold': h.StatusId == 5,
                                                                    'status-registered': h.StatusId == 1,
                                                                    'status-shortlist': h.StatusId == 2,
                                                                    'status-call-schedule': h.StatusId == 4,
                                                                    'status-other-reason': h.StatusId == 8,}">
                                                        <span ng-show="h.StatusId == 8">L{{h.Level+1}} </span>
                                                        <span ng-show="h.StatusId == 4">L{{h.Level}} </span>
                                                        {{h.StatusName}}
                                                        <span ng-show="h.StatusId == 2"> for L{{h.Level+1}}</span>
                                                        
                                                    </span>
                                                </td>
                                                <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                                    <a class="btn btn-icon btn-white btn-xs waves-effect waves-light m-r-5 b-0 cursor-pointer" title="Action"
                                                       href="~/ScheduleManagement/Schedule/Details#?ApplicantId={{h.ApplicantId}}">
                                                        <img src="~/Content/images/view-details-icon.svg" class="ViewLogo" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Registration details list -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/ScheduleManagement/Schedule")
}
