@{
    ViewBag.Title = "AdvancedSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
    .colExpand {
        width: 30px !important;
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .colName {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
    .colPhone {
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }
    .colStatus {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .colEntry {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }
</style>

<div ng-controller="AdvancedSearchCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="ti-user icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@MVCProject.Common.Resources.Resource.AdvancedSearch</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <form name="frmRegister" ng-submit="advancedsearch(searchDetail)"
                      novalidate ng-init="searchDetail.daterange.startDate = null; searchDetail.daterange.endDate = null;">
                    <div class="row mb-3">
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-0">
                            <div class="form-group">
                                <label>
                                    @MVCProject.Common.Resources.Resource.StatusName @*<span class="required-field"></span>*@
                                </label>
                                <select class="form-select" name="StatusId" id="Status" ng-init="GetStatus()" ng-model="searchDetail.StatusId">
                                    <option value="" selected>Status</option>
                                    <option ng-repeat="s in status" value="{{s.StatusId}}">{{s.StatusName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    @MVCProject.Common.Resources.Resource.TimeLine
                                </label>
                                <input type="daterange"  class="form-control" autocomplete="off"
                                       placeholder="Select Date Range" max-date="{{CurrentDate}}" id="DateRange" name="DateRange" ng-model="searchDetail.daterange"/>
                            </div>
                        </div>
                        @*<div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    @MVCProject.Common.Resources.Resource.EndDate
                                </label>
                                <input type="date" class="form-control" name="EndDate" ng-model="searchDetail.EndDate" />
                            </div>
                        </div>*@
                        <div class="row mt-4">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success waves-effect w-md waves-light mb-5">
                                        Search
                                    </button>
                                    <button type="button" ng-click="ClearFormData(frmRegister)" class="btn btn-info waves-effect w-md waves-light mb-5"
                                            tabindex="4">
                                        @MVCProject.Common.Resources.Resource.Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="section-divider" />
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-control-static">
                            <scrollable-table scroll-height="450">
                                <table ng-table="tableParams" id="datatable" class="table table-bordered table-hover">
                                    <tbody>
                                        <tr ng-repeat-start="applicant in applicants">
                                            <td header-class="'colExpand'" ng-class="colExpand">
                                                <a class="status-pass cursor-pointer" ng-if="applicant.expanded" ng-click="applicant.expanded = false">-</a>
                                                <a class="status-pass cursor-pointer" ng-if="!applicant.expanded" ng-click="expandSelected(applicant,applicant.ApplicantId)">+</a>
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.ApplicantName'" header-class="'colName'" ng-class="'colName breakword overflow-ellipsis cursor-pointer'">
                                                {{applicant.FirstName}} {{applicant.MiddleName}} {{applicant.LastName}}
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.ApplicantEmail'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                {{applicant.Email}}
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.ApplicantPhone'" header-class="'colPhone'" ng-class="'colPhone breakword overflow-ellipsis cursor-pointer'">
                                                {{applicant.Phone}}
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.StatusName'" header-class="'colStatus'" ng-class="'colStatus breakword overflow-ellipsis cursor-pointer'">
                                                <span ng-class="{'status-hold': applicant.StatusId == 5,
                                                                    'status-registered': applicant.StatusId == 1,
                                                                    'status-shortlist': applicant.StatusId == 2,
                                                                    'status-pass': applicant.StatusId == 6,
                                                                    'status-reject': applicant.StatusId == 7,
                                                                    'status-not-match': applicant.StatusId == 3,
                                                                    'status-call-schedule': applicant.StatusId == 4,
                                                                    'status-other-reason': applicant.StatusId == 8,}">
                                                    {{applicant.StatusName}}<span ng-show="applicant.StatusId == 4"> for L{{applicant.Level}}</span>
                                                    <span ng-show="applicant.StatusId == 2 || applicant.StatusId == 8"> for L{{applicant.Level+1}}</span>
                                                </span>
                                            </td>
                                            <td data-title="'@MVCProject.Common.Resources.Resource.EntryDate'" header-class="'colEntry'" ng-class="'colEntry breakword overflow-ellipsis cursor-pointer'">
                                                {{applicant.EntryDate | date : 'MMM d, y h:mm a'}}
                                            </td>
                                        </tr>
                                        <tr ng-show="applicant.expanded" ng-repeat-end="">
                                            <td></td>
                                            <td></td>
                                            <td colspan="5">
                                                <table class="table table-bordered table-hover">
                                                    <tr ng-repeat="applicant in applicantDetail">
                                                        <td header-class="'colName'" ng-class="'colName breakword overflow-ellipsis cursor-pointer'">
                                                            {{applicant.FirstName}} {{applicant.MiddleName}} {{applicant.LastName}}
                                                        </td>
                                                        <td header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                            {{applicant.Email}}
                                                        </td>
                                                        <td header-class="'colPhone'" ng-class="'colPhone breakword overflow-ellipsis cursor-pointer'">
                                                            {{applicant.Phone}}
                                                        </td>
                                                        <td header-class="'colStatus'" ng-class="'colStatus breakword overflow-ellipsis cursor-pointer'">
                                                            <span ng-class="{'status-hold': applicant.StatusId == 5,
                                                                    'status-registered': applicant.StatusId == 1,
                                                                    'status-shortlist': applicant.StatusId == 2,
                                                                    'status-pass': applicant.StatusId == 6,
                                                                    'status-reject': applicant.StatusId == 7,
                                                                    'status-not-match': applicant.StatusId == 3,
                                                                    'status-call-schedule': applicant.StatusId == 4,
                                                                    'status-other-reason': applicant.StatusId == 8,}">
                                                                {{applicant.StatusName}}<span ng-show="applicant.StatusId == 4"> for L{{applicant.Level}}</span>
                                                                <span ng-show="applicant.StatusId == 2 || applicant.StatusId == 8"> for L{{applicant.Level+1}}</span>
                                                            </span>
                                                        </td>
                                                        <td header-class="'colEntry'" ng-class="'colEntry breakword overflow-ellipsis cursor-pointer'">
                                                            {{applicant.EntryDate | date : 'MMM d, y h:mm a'}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </scrollable-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/AdvancedSearch/AdvancedSearch")

}
