@{
    ViewBag.Title = @Resource.AdvancedSearch;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colExpand {
        width: 30px !important;
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }

    .colName {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colPhone {
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }

    .colStatus {
        width: 210px !important;
        min-width: 210px !important;
        max-width: 210px !important;
    }

    .colEntry {
        width: 170px !important;
        min-width: 170px !important;
        max-width: 170px !important;
    }

    .colNum {
        width: 130px !important;
        min-width: 130px !important;
        max-width: 130px !important;
    }

    .colExperience {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }
</style>

<div ng-controller="AdvancedSearchCtrl" novalidate ng-init="getCompanyDetails();getPositionDetails()">
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-search icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.AdvancedSearch</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row">
            <div class="col-md-12">
                <form name="frmRegister" ng-submit="advancedsearch(searchDetail)"
                      novalidate ng-init="searchDetail.daterange.startDate = null; searchDetail.daterange.endDate = null;">
                    <div class="row mb-3">
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-0">
                            <div class="form-group">
                                <label>
                                    @MVCProject.Common.Resources.Resource.StatusName @*<span class="required-field"></span>*@
                                </label>
                                <select class="form-select" name="StatusId" id="Status" ng-init="GetStatus()" ng-model="searchDetail.StatusId">
                                    <option value="" selected>Status</option>
                                    <option ng-repeat="s in status" value="{{s.StatusId}}">{{s.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-0">
                            <div class="form-group">
                                <label>
                                    @Resource.Company <span class="required-field">*</span>
                                </label>
                                <select class="form-select" name="Company" ng-model="searchDetail.CompanyId">
                                    <option value="" selected>Select Company Name</option>
                                    <option ng-repeat="h in companyDetails" value="{{h.Id}}">{{h.CompanyName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-0">
                            <div class="form-group">
                                <label>
                                    @Resource.Position <span class="required-field">*</span>
                                </label>
                                <select class="form-select" name="Position" ng-model="searchDetail.PositionId">
                                    <option value="" selected>Select Position Name</option>
                                    <option ng-repeat="h in PositionDetails" value="{{h.Id}}">{{h.PositionName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 mt-3">
                            <div class="form-group">
                                <label>
                                    @MVCProject.Common.Resources.Resource.TimeLine
                                </label>
                                <input type="daterange" class="form-control" autocomplete="off"
                                       placeholder="Select Date Range" max-date="{{CurrentDate}}" id="DateRange" name="DateRange" ng-model="searchDetail.daterange" />
                            </div>
                        </div>
                        @*<div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        @MVCProject.Common.Resources.Resource.EndDate
                                    </label>
                                    <input type="date" class="form-control" name="EndDate" ng-model="searchDetail.EndDate" />
                                </div>
                            </div>*@
                        <div class="row mt-4">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success waves-effect w-md waves-light mb-5">
                                        Search
                                    </button>
                                    <button type="button" ng-click="ClearFormData(frmRegister)" class="btn btn-danger waves-effect w-md waves-light mb-5"
                                            tabindex="4">
                                        @MVCProject.Common.Resources.Resource.Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="section-divider" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="row mb-3 align-items-baseline">
                            <div class="col-lg-4 col-md-12">
                                <label class="table-title">
                                    @Resource.AdvancedSearch @Resource.Details
                                </label>
                            </div>
                            <div class="col-lg-2 offset-2 col-md-12 my-md-3 my-sm-2">
                                <button type="button" ng-click="exportData(searchDetail)" class="btn btn-export"
                                        tabindex="4">
                                    <i class="fa fa-file-excel-o">  </i>
                                    Export To Excel
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <form id="frmSearch" ng-submit="isSearchClicked = true;tableParams.page(1);tableParams.reload();" novalidate>
                                    <div class="input-group">
                                        <input type="text" tabindex="104" ng-model="search" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}", Resource.Search, Resource.AdvancedSearch, Resource.Details)" />
                                        <a class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="450">
                                    <table ng-table="tableParams" id="datatable" class="table table-bordered">
                                        <tbody>
                                            <tr ng-repeat-start="applicant in applicants">
                                                <td header-class="'colExpand'" ng-class="colExpand">
                                                    <a class="status-pass cursor-pointer" ng-if="applicant.expanded" ng-click="applicant.expanded = false">-</a>
                                                    <a class="status-pass cursor-pointer" ng-if="!applicant.expanded" ng-click="expandSelected(applicant,applicant.ApplicantId)">+</a>
                                                </td>
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                    {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantName'" header-class="'colName'" ng-class="'colName breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.FirstName}} {{applicant.MiddleName}} {{applicant.LastName}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantEmail'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.Email}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantPhone'" header-class="'colPhone'" ng-class="'colPhone breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.Phone}}
                                                </td>
                                                <td data-title="'@Resource.StatusName'" header-class="'colStatus'" ng-class="'colStatus breakword overflow-ellipsis cursor-pointer'">
                                                    <span ng-class="{'status-hold': applicant.StatusId == 5,
                                                                    'status-registered': applicant.StatusId == 1,
                                                                    'status-shortlist': applicant.StatusId == 2,
                                                                    'status-pass': applicant.StatusId == 6,
                                                                    'status-reject': applicant.StatusId == 7,
                                                                    'status-not-match': applicant.StatusId == 3,
                                                                    'status-call-schedule': applicant.StatusId == 4,
                                                                    'status-other-reason': applicant.StatusId == 8,}">
                                                        <span ng-show="applicant.StatusId == 2 || applicant.StatusId == 8"> L{{applicant.Level+1}}</span><span ng-show="applicant.StatusId == 4">L{{applicant.Level}}</span> {{applicant.StatusName}}

                                                    </span>
                                                </td>
                                                <td data-title="'@Resource.EntryDate'" header-class="'colEntry'" ng-class="'colEntry breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.EntryDate | date : 'MMM d, y h:mm a'}}
                                                </td>
                                                <td data-title="'@Resource.Comments'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.Comment}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantAddress'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.Address}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantDate'" sortable="'ApplicantDate'" header-class="'colExperience'" ng-class="'colExperience breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.ApplicantDate | date}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantDOB'" header-class="'colDate'" ng-class="'colDate breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.DateOfBirth | date}}
                                                </td>
                                                <td data-title="'@Resource.CurrentCompany'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.CurrentCompany}}
                                                </td>
                                                <td data-title="'@Resource.CurrentDesignations'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.CurrentDesignation}}
                                                </td>
                                                <td data-title="'@Resource.TotalExperience'" header-class="'colExperience'" ng-class="'colExperience breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.TotalExperience}}
                                                </td>
                                                <td data-title="'@Resource.DetailedExperince'" header-class="'colExperience'" ng-class="'colExperience breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.DetailedExperience}}
                                                </td>
                                                <td data-title="'@Resource.CurrentCTC'" header-class="'colNum'" ng-class="'colNum breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.CurrentCTC}}
                                                </td>
                                                <td data-title="'@Resource.ExpectedCTC'" header-class="'colNum'" ng-class="'colNum breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.ExpectedCTC}}
                                                </td>
                                                <td data-title="'@Resource.NoticePeriod'" header-class="'colNum'" ng-class="'colNum breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.NoticePeriod}}
                                                </td>
                                                <td data-title="'@Resource.CurrentLocation'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.CurrentLocation}}
                                                </td>
                                                <td data-title="'@Resource.PreferedLocation'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.PreferedLocation}}
                                                </td>
                                                <td data-title="'@Resource.ReasonForChange'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.ReasonForChange}}
                                                </td>
                                                <td data-title="'@Resource.SkillDescription'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.SkillDescription}}
                                                </td>
                                                <td data-title="'@Resource.PortfolioLink'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.PortfolioLink}}
                                                </td>
                                                <td data-title="'@Resource.LinkedinLink'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.LinkedinLink}}
                                                </td>
                                                <td data-title="'@Resource.OtherLink'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{applicant.OtherLink}}
                                                </td>
                                            </tr>
                                            <tr ng-show="applicant.expanded" ng-repeat-end="" class="timeline-search-expanded-detail">
                                                <td colspan="{{isSmallMenu ? '9' : '8'}}" class="py-5 px-3 timeline-td">
                                                    <div class="timeline-search">
                                                        <ul class="timeline-ul">
                                                            <li ng-repeat="applicant in applicantDetail">
                                                                <div class="content-search card-box">
                                                                    <h4><i class="fa fa-user me-2"></i>{{applicant.UserName}}</h4>
                                                                    <p>
                                                                        <span ng-class="{'status-hold': applicant.StatusId == 5,
                                                                            'status-registered': applicant.StatusId == 1,
                                                                            'status-shortlist': applicant.StatusId == 2,
                                                                            'status-pass': applicant.StatusId == 6,
                                                                            'status-reject': applicant.StatusId == 7,
                                                                            'status-not-match': applicant.StatusId == 3,
                                                                            'status-call-schedule': applicant.StatusId == 4,
                                                                            'status-other-reason': applicant.StatusId == 8,}">
                                                                            <span ng-show="applicant.StatusId == 2 || applicant.StatusId == 8"> L{{applicant.Level+1}}</span>
                                                                            <span ng-show="applicant.StatusId == 4">L{{applicant.Level}}</span> {{applicant.StatusName}}
                                                                        </span>
                                                                    </p>
                                                                    <p><i class="fa-regular fa-commenting-o me-2"></i>{{applicant.Comment}}</p>
                                                                </div>
                                                                <div class="time-search">
                                                                    <h6>{{applicant.EntryDate | date : 'MMM d, y h:mm a'}}</h6>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/AdvancedSearch/AdvancedSearch")

}
