@{
    ViewBag.Title = @Resource.PositionRegister;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }

    .colPosition {
        width: 550px !important;
        min-width: 550px !important;
        max-width: 550px !important;
    }

    .colActive {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }

    .colAction {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
    }
</style>

<div ng-controller="PositionCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="fa-solid fa-code icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.PositionRegister</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row ">
            <div class="col-md-12">
                <!-- start designation form -->
                <form name="frmRegister" ng-submit="SavePositionDetails(positionDetailScope)"
                      novalidate>
                    <div class="row mb-3">
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <label>
                                    @Resource.PositionName<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Position Name" name="PositionName" ng-model="positionDetailScope.PositionName" required />
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.PositionName.$dirty && frmRegister.PositionName.$invalid">
                                    <span data-ng-show="frmRegister.PositionName.$error.required">@Resource.PositionNameRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-lg-0 mt-md-0 mt-sm-3">
                            <div class="form-group">
                                <div class="form-control-static">
                                    <label>

                                    </label>
                                    <div class="checkbox checkbox-info p-0">
                                        <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="positionDetailScope.IsActive"
                                               tabindex="2" />
                                        <label for="chkIsActive">
                                            @Resource.IsActive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-10">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5">
                                    {{positionDetailScope.Id > 0 ? '@Resource.Update' : '@Resource.Save'}}
                                </button>
                                <button type="button" ng-click="ClearFormData(frmRegister)" class="btn btn-danger waves-effect w-md waves-light m-b-5"
                                        tabindex="4">
                                    @Resource.Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr class="section-divider" />
                <!-- end designation form -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="table-title my-3">
                                    @Resource.Position @Resource.Details
                                </label>
                            </div>
                            <div class="col-lg-5 col-md-6 offset-lg-4">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" ng-keypress="onEnter($event)" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}", Resource.Search, Resource.Position, Resource.Details)" />
                                    <a class="input-group-addon cursor-pointer" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="500">
                                    <table ng-table="tableParams" id="datatable" @*ng-init="getAllInterviewers()"*@ class="table table-bordered table-hover">
                                        <tbody>
                                            <tr ng-repeat="h in position">
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                    {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.Position'" sortable="'PositionName'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.PositionName}}
                                                </td>
                                                <td data-title="'@Resource.Active'" header-class="'colActive'" ng-class="'colActive text-center'">
                                                    <input type="checkbox" class="js-switch" ui-switch options="switchOptions" ng-model="h.IsActive"
                                                           ng-disabled="true" />
                                                </td>
                                                <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                                    <a class="btn btn-icon cursor-pointer btn-white btn-xs waves-effect waves-light m-r-5 btn-edit" title="Edit"
                                                       ng-click="EditPositionDetails(h.Id)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Registration details list -->
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/Position/Position")
}
