@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div ng-controller="ResetPasswordCtrl" ng-init="Init(@ViewBag.userId,'@ViewBag.resetPasswordToken');" class="eternity-form scroll-animations-activated">
    <div class="container">
        <div class="body-sign">
            <div class="center-sign">
                <div class="login-form-section">
                    <div class="login-content">
                        <form name="frmResetPassword" class="form-horizontal m-t-20" role="form" ng-submit="ResetPassword(frmResetPassword);"
                        novalidate>
                        <fieldset ng-disabled="isDisabled">
                            <div class="section-title">
                                <img class="pull-left" src="/Content/images/company-logo.png" ng-src="{{applicationLogo}}"
                                    fallback-src="/Content/images/company-logo.png" ng-class="{'blur-7' : !isLogoLoaded}" style=" max-height: 50px;" alt="#" /><span
                                        style="color: #D40003; font-size: 18px; font-weight: bold;"></span>
                                <h4 class="pull-right">
                                    @Resource.ResetPassword</h4>
                                <div class="c">
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon "><i class="ti-key icon-color"></i></span>
                                    <input name="txtPassword" id="txtPassword" type="password" ng-model="passwordModel.NewPassword"
                                        class="form-control password" maxlength="25" required tabindex="2" placeholder="@Resource.NewPassword" />
                                    <div class="c">
                                    </div>
                                </div>
                                <div class="label label-danger" data-ng-show="frmResetPassword.txtPassword.$dirty && frmResetPassword.txtPassword.$invalid">
                                    <span data-ng-show="frmResetPassword.txtPassword.$error.required">@Resource.PasswordRequired</span>
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon "><i class="ti-key icon-color"></i></span>
                                    <input name="txtConfirmPassword" id="txtConfirmPassword" type="password" ng-model="passwordModel.ConfirmPassword"
                                        class="form-control password" maxlength="25" required tabindex="2" placeholder="@Resource.ConfirmNewPassword"
                                        compare-to="passwordModel.NewPassword" />
                                    <div class="c">
                                    </div>
                                </div>
                                <div class="label label-danger" data-ng-show="frmResetPassword.txtConfirmPassword.$dirty && frmResetPassword.txtConfirmPassword.$invalid">
                                    <span data-ng-show="frmResetPassword.txtConfirmPassword.$error.required">Confirm @Resource.PasswordRequired</span>
                                    <span data-ng-show="frmResetPassword.txtConfirmPassword.$error.compareTo">@Resource.PasswordMustBeSame</span>
                                </div>
                            </div>
                            <div class="login-form-action">
                                <button type="submit" class="btn btn-primary pull-right green-btn" ng-disabled="frmResetPassword.$invalid">
                                    @Resource.ResetPassword
                                </button>
                                <div class="c">
                                </div>
                            </div>
                            <div class="c">
                            </div>
                        </fieldset>
                        </form>
                        <div class="c">
                        </div>
                    </div>
                    @*<div class="login-form-links link1  animated fadeInLeftBig" data-animation="fadeInLeftBig" data-animation-delay=".2s" style="animation-delay: 0.2s;">
                    <h4 class="blue">Don't have an Account?</h4>
                    <span>No worry</span>
                    <a href="#" class="blue">Click Here</a>
                    <span>to Register</span>
                </div>*@
                    <div class="login-link-back">
                        <a href="~/Account/Login">@Resource.GoToLoginPage</a></div>
                    <div class="c">
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
        </div>
    </div>
    <div class="c">
    </div>
    <div class="c">
    </div>
</div>
<div class="c">
</div>
@section Scripts {
    @Scripts.Render("~/bundles/ResetPassword")
}
