@{
    ViewBag.Title = @Resource.Interviewer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .colSrno {
        width: 40px !important;
        min-width: 40px !important;
        max-width: 40px !important;
    }

    .colPosition {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }

    .colActive {
        width: 70px !important;
        min-width: 70px !important;
        max-width: 70px !important;
    }

    .colAction {
        width: 70px !important;
        min-width: 70px !important;
        max-width: 70px !important;
    }
</style>

<div ng-controller="InterviewerCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="fa-solid fa-user-tie icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.Interviewer</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row ">
            <div class="col-md-12">
                <!-- start designation form -->
                <form name="frmRegister" ng-init="getCompanyDetails()" ng-submit="SaveInterviewerDetails(interviewerDetailScope)"
                      novalidate>
                    <div class="row mb-3">
                        <div class="col-lg-4 col-md-6 mt-3">
                            <div class="form-group">
                                <label>
                                    @Resource.InterviewerName <span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" ng-focus="true" name="InterviewerName" ng-model="interviewerDetailScope.InterviewerName" required placeholder="Enter Name" maxlength="250">
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.InterviewerName.$dirty && frmRegister.InterviewerName.$invalid">
                                    <span data-ng-show="frmRegister.InterviewerName.$error.required">@Resource.InterviewerNameRequired</span>
                                </div>
                            </div>
                        </div>

                        <!--Remarks-->
                        <div class="col-lg-4 col-md-6 mt-3">
                            <div class="form-group">
                                <label>
                                    @Resource.InterviewerEmail<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Email" name="InterviewerEmail" ng-model="interviewerDetailScope.InterviewerEmail" required />
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.InterviewerEmail.$dirty && frmRegister.InterviewerEmail.$invalid">
                                    <span data-ng-show="frmRegister.InterviewerEmail.$error.required">@Resource.InterviewerEmailRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-3">
                            <div class="form-group">
                                <label>
                                    @Resource.InterviewerPhone<span class="required-field">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Enter Phone" name="InterviewerPhone" ng-model="interviewerDetailScope.InterviewerPhone" required />
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.InterviewerPhone.$dirty && frmRegister.InterviewerPhone.$invalid">
                                    <span data-ng-show="frmRegister.InterviewerPhone.$error.required">@Resource.InterviewerPhoneRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-3">
                            <div class="form-group">
                                <label>
                                    @Resource.Company <span class="required-field">*</span>
                                </label>
                                <select class="form-select" name="Company" ng-model="interviewerDetailScope.CompanyId" required>
                                    <option value="" selected disabled>Select Company Name</option>
                                    <option ng-repeat="h in companyDetails" value="{{h.Id}}">{{h.CompanyName}}</option>
                                </select>
                                <div class="c">
                                </div>
                                <div class="label label-danger" data-ng-show="frmRegister.Company.$dirty && frmRegister.Company.$invalid">
                                    <span data-ng-show="frmRegister.Company.$error.required">@Resource.CompanyRequired</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-3">
                            <div class="form-group">
                                <div class="form-control-static">
                                    <label>

                                    </label>
                                    <div class="checkbox checkbox-info p-0">
                                        <input type="checkbox" id="chkIsActive" name="chkIsActive" ng-model="interviewerDetailScope.Is_Active"
                                               tabindex="2" />
                                        <label for="chkIsActive">
                                            @Resource.IsActive
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-10">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success waves-effect w-md waves-light m-b-5">
                                    {{interviewerDetailScope.InterviewerId > 0 ? '@Resource.Update' : '@Resource.Save'}}
                                </button>
                                <button type="button" ng-click="ClearFormData(frmRegister)" class="btn btn-danger waves-effect w-md waves-light m-b-5"
                                        tabindex="4">
                                    @Resource.Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <hr class="section-divider" />
                <!-- end designation form -->
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <label class="table-title my-3">
                                    @Resource.InterviewersReg @Resource.Details
                                </label>
                            </div>
                            <div class="col-lg-5 col-md-6 offset-lg-4">
                                <div class="input-group">
                                    <input type="text" tabindex="104" ng-model="search" ng-keypress="onEnter($event)" class="form-control" ng-change="isSearchClicked = false;" placeholder="@string.Format(" {0} {1} {2}", Resource.Search, Resource.Interviewer, Resource.Details)" />
                                    <a class="input-group-addon cursor-pointer" href="#" tabindex="105" ng-click="isSearchClicked = true;tableParams.page(1);tableParams.reload();">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="500">
                                    <table ng-table="tableParams" id="datatable" @*ng-init="getAllInterviewers()"*@ class="table table-bordered table-hover">
                                        <tbody>
                                            <tr ng-repeat="h in interviewers">
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno text-right'">
                                                    {{(tableParams.$params.page-1)*tableParams.$params.count+($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.InterviewerName'" sortable="'Name'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.InterviewerName}}
                                                </td>
                                                <td data-title="'@Resource.InterviewerEmail'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.InterviewerEmail}}
                                                </td>
                                                <td data-title="'@Resource.InterviewerPhone'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.InterviewerPhone}}
                                                </td>
                                                <td data-title="'@Resource.Company'" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.CompanyName}}
                                                </td>
                                                <td data-title="'@Resource.Active'" header-class="'colActive'" ng-class="'colActive text-center'">
                                                    <input type="checkbox" class="js-switch" ui-switch options="switchOptions" ng-model="h.Is_Active"
                                                           ng-disabled="true" />
                                                </td>
                                                <td data-title="'@Resource.Action'" header-class="'colAction'" ng-class="'colAction text-center'">
                                                    <a class="btn btn-icon cursor-pointer btn-white btn-xs waves-effect waves-light m-r-5 btn-edit" title="Edit"
                                                       ng-click="EditInterviewersDetails(h.InterviewerId)">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Registration details list -->
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/InterviewerRegister/Interviewer")
}
