@{
    ViewBag.Title = @Resource.Import;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .border-color {
        border-color: red !important;
    }

    .border-green {
        border-color: #07c907 !important;
    }
</style>

<div ng-controller="ImportCtrl" novalidate>
    <div class="main-page-title title-icon relative l">
        <i class="fa fa-file-import icon-position" style="padding-top: 8px;"></i>
        <h4 class="header-title-sub l">@Resource.ImportApplicant</h4>
        <div class="pull-right">
        </div>
    </div>
    <div class="card-box">
        <div class="row mb-3">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-8">
                        <input class="form-control" type="file" id="file" ng-model="myFile" />
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-success" ng-click="uploadFile()">
                            <i class="fa fa-file-import me-2"></i>
                            Import
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row mt-3 mb-4">
                    <div class="col-md-10">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary m-b-5 me-2" ng-click="getSampleExcel()" @*ng-disabled="frmRegister.$invalid"*@>
                                Get Sample Excel
                            </button>
                            <button type="submit" class="btn btn-success waves-effect w-md me-2 waves-light m-b-5" ng-click="submitApplicants(applicantDetailScope)" ng-disabled="errors.length>0 || er>0">
                                <i class="fa fa-plus me-2"></i>
                                Add Applicants
                            </button>
                            <button type="submit" class="btn btn-danger waves-effect w-md waves-light m-b-5" ng-click="reset()">
                                @Resource.Clear
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="section-divider" />
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="row mb-3 align-items-baseline">
                            <div class="col-md-5">
                                <label class="table-title">
                                    @Resource.ExcelData @Resource.Details
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-control-static">
                                <scrollable-table scroll-height="510">
                                    <table ng-table="tableParams" id="datatable" class="table table-bordered">
                                        <tbody>
                                            <tr ng-repeat="h in applicant track by $index">
                                                <td data-title="'@Resource.SrNo'" header-class="'colSrno'" ng-class="'colSrno'">
                                                    {{($index + 1)}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantName'" ng-attr-title="{{h.FirstName}}" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.FirstName}} {{h.MiddleName}} {{h.LastName}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantEmail'" ng-attr-title="{{h.Email}}" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Email}}
                                                </td>
                                                <td data-title="'@Resource.ApplicantPhone'" ng-attr-title="{{h.Phone}}" header-class="'colPhone'" ng-class="'colPhone breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Phone}}
                                                </td>
                                                <td class="error-text" ng-attr-title="{{h.Error}}" data-title="'@Resource.Error'"  style="color: red;" header-class="'colPosition'" ng-class="'colPosition breakword overflow-ellipsis cursor-pointer'">
                                                    {{h.Error}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </scrollable-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/ImportData/Import")
}
