@{
    ViewBag.Title = @Resource.ForgotPassword;
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<style>
    .border-color {
        border-color: red !important;
    }
</style>

<div ng-controller="AccountCtrl">
    <div class="wrapper">
        <section class="login-content">
            <img src="~/Content/images/login-bg-leaf1.png" class="lb-img d-lg-block d-none" alt="">
            <img src="~/Content/images/login-bg-leaf2.png" class="rb-img d-lg-block d-none" alt="">
            <div class="container h-100">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-lg-0 mb-4 mt-lg-0 mt-4">
                                <img src="~/Content/images/login-img.svg" class="img-fluid w-80" />
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form ng-if="showForgotPassword" name="frmForgotPassword" ng-submit="SendResetPasswordMail(frmForgotPassword,user)" novalidate>
                                            <h4>@Resource.ForgotPassword</h4>
                                            <div>
                                                <p>Enter your Email for verification process, a 6-digit verification code will be send to your email.</p>
                                                <div class="form-group mb-3">
                                                    <input type="text" ng-class="{'border-color' : frmForgotPassword.txtUserName.$dirty && frmForgotPassword.txtUserName.$invalid}" class="form-control" id="txtUserName" name="txtUserName" placeholder="Enter your Email" ng-model="user.Email" required />
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmForgotPassword.txtUserName.$dirty && frmForgotPassword.txtUserName.$invalid">
                                                        <span data-ng-show="frmForgotPassword.txtUserName.$error.required">@Resource.EmailRequired</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 ">
                                                        <button type="submit" class="btn btn-primary waves-effect" ng-disabled="frmForgotPassword.$invalid">
                                                            @Resource.SendOtp
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>

                                        <div class="d-flex justify-content-center align-items-center" ng-show="showOtp">
                                            <div class="position-relative">
                                                <div class="text-start">
                                                    <h5>Please enter the one time password <br> to verify your account</h5>
                                                    <div> <span>A code has been sent to</span> <small>{{user.Email}}</small> </div>
                                                    <form name="frmOtp" novalidate>
                                                        <div id="otp" class="inputs d-flex flex-row justify-content-between mt-2">
                                                            <input class="m-2 text-center form-control rounded" type="text" id="first" ng-focus="true" autocomplete="off" ng-model="otp.first" maxlength="1" required />
                                                            <input class="m-2 text-center form-control rounded" type="text" id="second" ng-model="otp.second" maxlength="1" required />
                                                            <input class="m-2 text-center form-control rounded" type="text" id="third" ng-model="otp.third" maxlength="1" required />
                                                            <input class="m-2 text-center form-control rounded" type="text" id="fourth" ng-model="otp.fourth" maxlength="1" required />
                                                            <input class="m-2 text-center form-control rounded" type="text" id="fifth" ng-model="otp.fifth" maxlength="1" required />
                                                            <input class="m-2 text-center form-control rounded" type="text" id="sixth" ng-model="otp.sixth" maxlength="1" required />
                                                        </div>
                                                        <a class="float-start text-muted forgot-password">Time Remaining: <span class="text-black">{{countdown}}</span></a>
                                                        <a ng-show="showResend" ng-click="ResendCode()" class="text-muted float-end forgot-password cursor-pointer" tabindex="5">
                                                            <i class="fa fa-rotate m-r-5"></i>@Resource.ResendCode
                                                        </a>
                                                        <div class="mt-5">
                                                            <button ng-disabled="frmOtp.$invalid" class="btn btn-primary px-4 validate" ng-click="validateOtp(otp)">Validate</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <form ng-if="showResetPassword" name="frmResetPassword" ng-submit="ResetPassword(frmResetPassword)" novalidate>
                                            <h4>@Resource.ResetPassword</h4>
                                            <div>
                                                <div class="form-group mb-3">
                                                    <input name="txtPassword" ng-class="{'border-color' : frmResetPassword.txtPassword.$dirty && frmResetPassword.txtPassword.$invalid}"
                                                           id="txtPassword" type="password" ng-model="passwordModel.NewPassword"
                                                           class="form-control password" maxlength="25" required tabindex="2" placeholder="New Password" />
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmResetPassword.txtPassword.$dirty && frmResetPassword.txtPassword.$invalid">
                                                        <span data-ng-show="frmResetPassword.txtPassword.$error.required">@Resource.PasswordRequired</span>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <input name="txtConfirmPassword" ng-class="{'border-color' : frmResetPassword.txtConfirmPassword.$dirty && frmResetPassword.txtConfirmPassword.$invalid}"
                                                           id="txtConfirmPassword" type="password" ng-model="passwordModel.ConfirmPassword"
                                                           class="form-control password" maxlength="25" required tabindex="2" placeholder="@Resource.ConfirmNewPassword"
                                                           compare-to="passwordModel.NewPassword" />
                                                    <div class="c">
                                                    </div>
                                                    <div class="label label-danger" data-ng-show="frmResetPassword.txtConfirmPassword.$dirty && frmResetPassword.txtConfirmPassword.$invalid">
                                                        <span data-ng-show="frmResetPassword.txtConfirmPassword.$error.required">Confirm @Resource.PasswordRequired</span>
                                                        <span data-ng-show="frmResetPassword.txtConfirmPassword.$error.compareTo">@Resource.PasswordMustBeSame</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 ">
                                                        <button type="submit" class="btn btn-primary waves-effect" ng-disabled="frmResetPassword.$invalid">
                                                            @Resource.ResetPassword
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                        <a href="~/Account/Login" class="btn btn-link mt-5 p-0">
                                            <i class="fa fa-chevron-left"></i>
                                            Back to Login
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/Account")
}