<div class="modal-header">
    <button type="button" class="close" ng-click="cancelActionToPerform()">
        ×
    </button>
    <h4 class="modal-title" id="custom-width-modalLabel">
        @Resource.ActionPerform
    </h4>
</div>
<div class="modal-body">
    <form name="frmModel" ng-class="'form-horizontal'">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtDesignation">
                        @Resource.Remarks
                        <span class="required-field">*</span>
                    </label>
                    <textarea name="txtRemarks" id="txtRemarks" ng-model="userDetail.remarks" tabindex="102"
                              maxlength="8000" rows="3" required class="form-control"></textarea>
                    <div class="c">
                    </div>
                    <span style="color: gray; float: right;">
                          {{userDetail.remarks | countCharactersRemaining : 8000}}
                        @Resource.CharactersRemaining
                    </span>
                    <div ng-show="frmModel.txtRemarks.$dirty && frmModel.txtRemarks.$invalid" class="label label-danger">
                        <span ng-show="frmModel.txtRemarks.$error.required">@Resource.RemarksRequired</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-success" tabindex="103" ng-disabled="!frmModel.$valid" ng-click="SaveActionToPerform(userDetail,frmModel);">
        @Resource.Continue
    </button>
    <button type="button" tabindex="104" class="btn btn-danger" ng-click="cancelActionToPerform()">
        @Resource.Close
    </button>
</div>
